@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; 
}

body{
  background-color: rgb(94, 131, 131);
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #183D3D;
  max-height: 450px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 7px 7px 10px 3px #2f6464;
  width: 300px;
  height: 100%;
  margin: 150px 40%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 24px;
  text-align: center;
}

#chk {
  display: none;
}

.login {
  position: relative;
  width: 200px;
  height: 900px;
}

.login label {
  margin: 25% 0 5%;
  
}

.login form button{
  border: 3px solid;
  border-color: white;
  border-radius: 10px;
}

label {
  color: #fff;
  font-size: 2rem;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;

}

.input {
  width: 200px;
  height: 40px;
  background: #e0dede;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  
}

.register {
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(15%);
  transition: .8s ease-in-out;
}

.register label {
  color: #183D3D;
  transform: scale(.6);
}

#chk:checked ~ .register {
  transform: translateY(-54%);
}

#chk:checked ~ .register label {
  transform: scale(1);
  margin: 10% 0 5%;
}

#chk:checked ~ .login label {
  transform: scale(.6);
  margin: 5% 0 5%;
}   
.form button {
  width: 85%;
  height: 40px;
  margin: 12px auto 10%;
  color: #fff;
  background: #183D3D;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s ease-in;
}

.form button:hover {
  background-color: #183D3D;
}